<div class="container text-center" [formGroup]="this.tabuleiro">
  <div
    class="row row-cols-auto"
    *ngFor="let l of this.linha; let i = index"
    formArrayName="posicao"
  >
    <div
      class="col"
      *ngFor="let c of this.coluna"
      [id]="this.geraId(l, c)"
      [style]="this.posicoesInicialJogo(l, c)"
      (click)="this.pegaClick($event)"
    >
      {{ l }}
      {{ c }}
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="montaJogoInicial()">Início</button>
